/* genearl styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  /* typography */
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Playfair Display', serif;
  /* colors */
  --black: #000000;
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-4: #BDBDBD;
  --orange: #F2994A;
}

*{
  margin: 0;
}
body {
  font-family: var(--font-family-primary);
  font-size: 16px;
  padding: 5% 10%;
}
h1, h3{
  font-family: var(--font-family-secondary);
  font-weight: 700;
}
h1{
  font-size: 48px;
}
h3{
  font-size: 24px;
}
/* .other{
  display: none;
} */

/* description styles */
.description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
.description p{
  color: var(--gray-2);
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  max-width: 600px;
}
.description div{
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 20px;
}
.description img{
  max-width: 100%;
}

.section-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: end;
  gap: 15%;
}